# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
/media/
staticfiles/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
